<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login Page</title>
</head>
<body>
    <form action="" method="POST">
        
        {% csrf_token %}

        <h1>Login Page</h1>

        <input type="email"
        name="email"
        placeholder="enter a email ID"
        required
        >

        <input type="text"
        name="password"
        placeholder="enter a passoword"
        required
        >

        <button type="submit">Login</button>

    </form>

    {% if error %}
    <p><b>{{error}}</b></p>
    {% endif %}
    
</body>
</html>